config/schemas/upd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Заглушка XSD. Замените файлом от заказчика и укажите путь в настройках модуля. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Файл">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Документ" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="ИдФайл" type="xs:string" use="required"/>
            <xs:attribute name="ВерсФорм" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
